
#adcontainer1{
  background-color:black;
  color:white;
  border-radius: 20px;
  width: 690px;
  height:140px;
  margin:auto;
  margin-top: 10px;	
}

#adcontainer{
  background-color:black;
  color:white;
  border-radius: 20px;
  width: 690px;
  height:100px;
  margin:auto;
  margin-top: 10px;
}

button#delbtn{
	float:right;
}

button#qsbtn{
	float:right;
}

#challcontainer7{
  background-color:black;
  color:white;
  text-align:center;
  border-radius: 10px;
  width: 890px;
  height:200px;
  margin:auto;
  margin-top: 10px;
}

#chcall{
  position: absolute;
  text-align: center;
  margin: auto;
  height:800px;
}
#chimg{
  border-radius: 40px;
}
nav#challnav{
  display: flex;
}
button#checkbtn{
  position: relative;
  border:none;
  border-radius: 50%;
  background-color: white;
  top:660px;
  left: 460px;
}
#chall8{
  list-style: none;
  color:white;
}
ul#chall8>li{
	float:left!important;
}
#chall7{
  list-style: none;
  color:white;
}
ul#chall7>li{
  float: left!important;

}
#chall6{
  margin-top: 14px;
}
div#challcontainer6{
  margin-left:400px;
  
/*   position: absolute; */
  width:100%;
  height:810px;
}

#challh5{
  text-align: center;
  margin-top: 14px ;
}
#challcontainer5{
  background-color:black;
  color:white;
  text-align:center;
  border-radius: 10px;
  width: 890px;
  height:140px;
  margin:auto;
  margin-top: 10px;

}

#challcontainer4{
  border-radius: 10px;
  background-color: antiquewhite;
  text-align: center;
  /* margin-top: 10px;
  margin-left: 100px; */
  margin: auto;
  width:40%;
  height: 110px;
}

#challcontainer3{
  background-color: coral;
  text-align:center;
  border-radius: 10px;
  width: 600px;
  height:30px;
  margin:auto;
  margin-top: 14px;
}

#challcontainer1{
  text-align: center;
  background-color: coral;
  border-radius: 10px;
  width:600px;
  height:30px;
  margin: auto;
}
#challcontainer2{
  text-align: center;
  
  border-radius:30px;
  width:53%;
  height:650px;
  margin-left:350px;
}
#challimg{
  border-radius: 30px;
  width:60%; 
  height:600px;
  text-align: center;
}

div#tbl-board {
  border-collapse: collapse;
  border-top: 3px solid #168;
  font-family:Jua;
  text-align:center;
}  
#tbl-board th {
  color: #168;
  background: #f0f6f9;
  text-align: center;
}
#tbl-board th, .table td {
  padding: 10px;
  border: 1px solid #ddd;
}
#tbl-board th:first-child, .table td:first-child {
  border-left: 0;
}
#tbl-board th:last-child, .table td:last-child {
  border-right: 0;
}
#tbl-board tr td:first-child{
  /* text-align: center; */
}
#tbl-board caption{caption-side: bottom; display: none;}




.tox .tox-notification--warn, .tox .tox-notification--warning {
  display: none !important;
}


section#notice-container{width:600px; margin:0 auto; }
section#notice-container h2{margin:10px 0; text-align:center;}
table#tbl-notice{width:500px; margin:0 auto; border:1px solid black; border-collapse:collapse; clear:both; }
table#tbl-notice th {width: 125px; border:1px solid; padding: 5px 0; } 
table#tbl-notice td {border:1px solid; padding: 5px 0 5px 10px; text-align:left;}

/* 신고하기 글작성 css */
section#notice-container{width:80%; margin: auto;}
section#notice-container h2{margin:10px 0;}
table#tbl-notice{width:100%; margin:0 auto; border:1px solid black; border-collapse:collapse;}
table#tbl-notice th, table#tbl-notice td {border:1px solid; padding: 5px 0;} 

/* Typography */
section#board-container{width:600px; margin:0 auto; }
section#board-container h2{margin:10px 0;}
table#tbl-board{width:100%; margin:0 auto; border:1px solid black; border-collapse:collapse;  clear:both; }
table#tbl-board th, table#tbl-board td {border:1px solid; padding: 5px 0; } 
/*글쓰기버튼*/
input#btn-add{float:right; margin: 0 0 15px;}
/*페이지바*/
div#pageBar{margin-top:10px; text-align:center; background-color:#f71515;}
div#pageBar span.cPage{color: #0066ff;}

input#subBtn{
  text-align: center; 
}

section#board-container2{width:600px; margin:0 auto; text-align:center;}
section#board-container2 h2{margin:10px 0;}
table#tbl-board2{width:100%; margin:0 auto; border:1px solid black; border-collapse:collapse; clear:both; }
table#tbl-board2 th, table#tbl-board td {border:1px solid; padding: 5px 0; } 







/* 주니가 추가 한 css */
/*/* /* /*  */ */ */  */
body, ul, li, p, a, label, input, div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}
.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}
.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}
/* General */
.logo { font-weight: 500 !important;}
.text-warning {  color: #ede861 !important;}
.text-muted { color: #bcbcbc !important;}
.text-success { color: cornflowerblue !important;}
.text-light { color: #cfd6e1 !important;}
.bg-dark { background-color: #212934 !important;}
.bg-light { background-color: #e9eef5 !important;}
.bg-black { background-color: #1d242d !important;}
.bg-success { background-color: cornflowerblue !important;}
.btn-success {
  background-color: #59ab6e !important;
  border-color: #56ae6c !important;
}
.pagination .page-link:hover {color: #000;}
.pagination .page-link:hover, .pagination .page-link.active {
  background-color: #69bb7e;
  color: #fff;
}
/* logo */
/* .img-logo{top:5%; left: 1px;} */


header {
  /* max-width: 1200px; */
  
  /* background-color: gray; */
  /* width: 100%; */
  /* line-height: 50px; */
}

/* Nav */
/* #templatemo_nav_top { min-height: 40px;}
#templatemo_nav_top * { font-size: 100px;} */

#templatemo_main_nav a { color: #212934;}
#templatemo_main_nav a:hover { color: cornflowerblue;}
#templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}
#templatemo_main_nav{top:7%; left: 10px;}
/* #templatemo_main_nav{position:fixed; align:center; top:7%; left: 16px; background-color: white;} */
/* .nav{position:fixed; align:center; top:7%; left: 500px; background-color: white;} */


/* .navbar navbar-expand-lg navbar-light shadow{position:fixed; align:center; top:7%; left: 16px; background-color: white;} */

/* login */
/* .logintable{position:fixed; align:center; top:5%; left: 1300px;} */

/* Hero Carousel */
#template-mo-zay-hero-carousel { background: #efefef !important;}

/* 배너 높이 */
#template-mo-zay-hero-carousel .carousel-item {height: 700px;}

/* Accordion */
.templatemo-accordion a { color: #000;}
.templatemo-accordion a:hover { color: #333d4a;}
/* Shop */
.shop-top-menu a:hover { color: cornflowerblue !important;}
/* Product */
.product-wap { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);}
.product-wap .product-color-dot.color-dot-red { background:#f71515;}
.product-wap .product-color-dot.color-dot-blue { background:#6db4fe;}
.product-wap .product-color-dot.color-dot-black { background:#000000;}
.product-wap .product-color-dot.color-dot-light { background:#e0e0e0;}
.product-wap .product-color-dot.color-dot-green { background:#0bff7e;}
.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}
/* Brand */
.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .5s;
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: cornflowerblue;
}

/* 배너 사진 꽉 채움  */
#template-mo-zay-hero-carousel .carousel-item .img-fluid {
  width:100%;
  height:100%;
  position: absolute; top: 0; left: 0;
}

#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: cornflowerblue !important;
  font-size: 2.8em !important;
}
/* Carousel Brand */
.tempaltemo-carousel .h1 {
  font-size: .5em !important;
  color: #000 !important;
}
/* Services */
.services-icon-wap {transition: .3s;}
.services-icon-wap:hover, .services-icon-wap:hover i {color: #fff;}
.services-icon-wap:hover {background: #69bb7e;}
/* Contact map */
.leaflet-control a, .leaflet-control { font-size: 10px !important;}
.form-control { border: 1px solid #e8e8e8;}
/* Footer */
#tempaltemo_footer a { color: #dcdde1;}
#tempaltemo_footer a:hover { color: cornflowerblue;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { font-size: 1em !important;}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {max-width: 450px;}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {max-width: 550px;}
  #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
